@layer components {
    /* Variant: Danger */
    .btn-danger {
        @apply bg-danger focus:ring-danger;
    }
    .btn-danger-outlined {
        @apply bg-transparent shadow-none border border-danger text-danger
        hover:bg-danger hover:border-transparent hover:text-white
        focus:outline-none focus:ring-0;
    }
    .btn-danger-inverted {
        @apply bg-white shadow-none border-none text-danger
        hover:bg-white hover:brightness-95;
    }
}
